[submodule "Data-Structure"]
	path = Data-Structure
	url = https://github.com/seowon2026/Data-Structure
[submodule "Web-Programming"]
	path = Web-Programming
	url = https://github.com/seowon2026/Web-Programming1.git
