[submodule "Data-Structure"]
	path = Data-Structure
	url = https://github.com/seowon2026/Data-Structure
[submodule "Web-Programming"]
	path = Web-Programming
	url = https://github.com/seowon2026/Web-Programming1.git
[submodule "Web-Programming1"]
	path = Web-Programming1
	url = https://github.com/seowon2026/Web-Programming1.git
[submodule "Logic-Circuit"]
	path = Logic-Circuit
	url = https://github.com/seowon2026/Logic-Circuit.git
[submodule "IoT-Basic-Experiment"]
	path = IoT-Basic-Experiment
	url = https://github.com/seowon2026/IoT-Basic-Experiment.git
